@model IEnumerable<GestionMedicamentoInventario.Models.Empresa>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombreEmpresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.direcicon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.telefonoEmpresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nacionalidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inventario.idInventario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario.nombreUsuario)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nombreEmpresa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.direcicon)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.telefonoEmpresa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nacionalidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Inventario.idInventario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuario.nombreUsuario)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.idEmpresa }) |
                    @Html.ActionLink("Details", "Details", new { id = item.idEmpresa }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.idEmpresa })
                </td>
            </tr>
        }

    </table>
</body>
</html>
