@model GestionMedicamentoInventario.Models.Lote

@{
    ViewBag.Title = "Crear";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="col-sm-9 col-md-9 col-lg-9">
        <div class="styles">
            <h2>Create</h2>

            @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "idform" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h4>@ViewBag.id</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.numLote, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.numLote, new { id = "numLote", htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.numLote, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.cantidadLote, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.cantidadLote, new { id = "cantidadLote", htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.cantidadLote, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.fechaVencimiento, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.fechaVencimiento, new { id = "fechaVencimiento", htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.fechaVencimiento, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.idMedicamento, "idMedicamento", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.idMedicamento, ViewBag.idMedicamento as SelectList, new { id = "idMed", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.idMedicamento, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <input type="button" value="Create" id="btnCreate" class="btn btn-default" />
                </div>

            }

            @Html.ActionLink("Lotes", "Create", "Compras", new { idlote = "idLote" }, new { id = "lotes" })

            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>

            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }

            <script>
                $(document).ready(function () {
                    $("#lotes").hide();
                });
                $("#btnCreate").click(function () {
                    $.ajax({
                        url: '/Lotes/Create',
                        type: 'post',
                        dataType: 'json',
                        contents: "application/json; charset=utf-8",
                        data: {
                            __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val(),
                            lote: { numLote: $("#numLote").val(), cantidadLote: $("#cantidadLote").val(), fechaVencimiento: $("#fechaVencimiento").val(), idMedicamento: $("#idMed").val() }
                        }, success: function (idlote) {
                            $("#idform").hide();
                            $("#lotes").show();
                            $("#lotes").attr("href", function () {
                                return this.href.replace("idLote", idlote);
                            });
                            alert("Numero de lote: " + idlote);
                        }
                    });
                });
            </script>
        </div>
    </div>